@import '../../../assets/styles/colors';
@import '../../../assets/styles/utils';

.SummaryListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #fff;

    &__image {
        width: 60px;
        height: 60px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        width: 9rem;

        &-product {
            font-size: 1.2rem;
            font-weight: bold;
        }

        &-description {
            color: $color-dark;
            font-size: 0.9rem;
        }
    }

    &__price {
        width: 7rem;
        text-align: right;

        &-quantity {
            color: $color-grey;
        }

        &-totalPrice {
            font-size: 1rem;
            font-weight: 500;
        }

    }

}