@import '../../assets/styles/utils';
@import '../../assets/styles/colors';

.SignInPage {
    display: flex;
    justify-content: space-around;
    padding: $margin-top-header 3rem 0;
    background-color: $color-light;
    max-width: 1200px;
    width: 85vw;
}