@import '../../assets/styles/utils';
@import '../../assets/styles/colors';

.SignInPage {
    display: flex;
    justify-content: center;
    padding: $margin-top-header 3rem 0;
    background-color: $color-light;
}