@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.LandingPage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: $margin-top-header 3rem 0;
    background-color: $color-light;
    grid-row-gap: 1.9rem;
    grid-column-gap: 1.3rem;
}