@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.Alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    right: 1rem;
    top: 10rem;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;

    i {
        color: $color-primary-light;
        margin-right: 0.5rem;
    }

    &.success {
        background: darken($color-primary, 10);
        color: #fff;
    }

    &.danger {
        background: rgb(184, 3, 3);
        color: #fff;
    }

    &.purchased {
        background-color: orange;
        width: 30vw;
        height: 20vh;
        text-transform: uppercase;
        font-weight: bold;
    }
}