@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.CustomBtn {
    background-color: lighten($color-primary, 10);
    color: #fff;
    font-size: 1.1rem;
    border-radius: $border-radius-card 0 $border-radius-card 0;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    backface-visibility: hidden;
    transition: background-color $transition-time ease-out, transform $transition-time ease-out;

    &:hover {
        background-color: darken($color-primary-light, 10);
    }

    &:active {
        transform: scale(0.99);
    }

    &.large {
        padding: 1rem 1rem;
    }
}