@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-primary-light;
    padding: 0.5rem 1.5rem;
    position: fixed;
    width: 100%;
    margin-top: -$margin-top-header;

    &__wrapper {
        display: flex;
        width: auto;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        &>*:not(:first-child) {
            margin-left: 2rem;
        }

        a {
            color: #fff;
        }

        i {
            color: #fff;
            font-size: 1.2rem;
        }
    }

    &__logo {
        cursor: pointer;

        img {
            width: 35px;
        }
    }

    &__searchBar {
        flex-basis: 50%;
    }

    &__cartIcon {
        cursor: pointer;
    }

    &__username {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        text-align: center;
        cursor: pointer;

        span:first-child {
            font-size: 0.8rem;
            font-weight: 100;
        }

        span:last-child {
            font-weight: bold;
        }
    }

    &__login {
        cursor: pointer;

        &-signIn {
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            border-radius: 3px;
            transition: background-color $transition-time ease-in-out;

            &:hover {
                background-color: lighten($color-primary, 10);
            }

            i {
                margin-left: 1rem;
            }
        }
    }

}