@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.PurchaseHistory {
    padding: $margin-top-header 3rem 3rem;
    background-color: $color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
}