@import './assets/styles/colors';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: $color-primary;
    height: 100vh;
    position: relative;
    background-color: $color-light;

    a {
        text-decoration: none;
        color: $color-primary
    }
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px lighten($color-secondary-lightest, 20) inset !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $color-primary;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}