$color-primary: #4b5e26;
$color-primary-light: #90BF57;
$color-secondary-lightest: #c9dca3;
$color-grey: #b7b6b6;
$color-dark: #343333;
$color-light: #fcfbf7;
$color-red: rgb(184, 3, 3);
$color-purple: #5C2D3E;
$color-orange: #D35300;